@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  /* Основной фон интерфейса (чёрный) */
  --color-bg: oklch(0.4539 0.0698 43.07);

  /* Основной цвет бренда (фиолетовый) - для главных кнопок, шапки */
  --color-primary: oklch(0.4559 0.1545 328.22);

  /* Второстепенный цвет (голубой) - иконки, подсветка, доп. элементы */
  --color-secondary: oklch(0.9532 0.0218 239.43);

  /* Акцентный цвет (жёлтый) - важные действия, предупреждения */
  --color-accent: oklch(0.8594 0.1583 85.79);

  /* Цвет ошибок (красно-розовый) - сообщения об ошибках, удаление */
  --color-error: oklch(0.6124 0.2279 17.6);

  /* Цвет поверхностей (тёмно-серый) - карточки, модальные окна */
  --color-surface: oklch(0.7713 0.0245 186.74);

  /* Цвет текста/иконок НА primary-цвете (белый) */
  --color-on-primary: oklch(1 0 0);

  /* Цвет текста НА акцентном цвете (чёрный) */
  --color-on-accent: oklch(0 0 0);

  --font-pixelify-sans: "Pixelify Sans", sans-serif;
}

body {
  @apply bg-bg text-on-primary font-pixelify-sans;
}

html,
body {
  height: 100%;
}

.active-category-link {
  @apply text-accent;
}
